# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=frota_db

# Configurações do Servidor
PORT=3000

# JWT Secret
JWT_SECRET=frota_secret_dw2_ifce_2024

# Sessão
SESSION_SECRET=frota_session_secret_2024
